.app-banner {
  padding: 20px 25px;
  border-radius: 10px;
  background: color-mix(in srgb, var(--color--secondary) 5%, transparent);
  border: 1px solid color-mix(in srgb, var(--color--secondary) 2.5%, transparent);
  margin-top: 15px;
}
