---
layout: simplepage
title: Report an issue in a plugin
section: participate
noanchors: true
uneditable: true
---

:css
    .bg-img {
        background-size: cover;
        min-height: 20px;
        background-position: center;
    }
    .bg-img-bug {
        background-color: red;
    }
    .btn-bug {
        border: 1px solid red;
        color: 
    }
    .btn-bug:hover {
        background-color: red;
        color: white;
    }


    .bg-img-rfe {
        background-color: #99f;
    }
    .btn-rfe {
        border: 1px solid #99f;
    }
    .btn-rfe:hover {
        background-color: #99f;
        color: white;
    }


    .bg-img-security {
        background-color: #fa0;
    }
    .btn-security {
        border: 1px solid #fa0;
    }
    .btn-security:hover {
        background-color: #fa0;
        color: white;
    }


    .bl {
        position: absolute;
        bottom: 8.6%;
        left: 4.4%;
    }
    .p1 {
        margin-bottom: 22%;
    }

%p.app-description
    Choose the kind of issue you'd like to report below.
    Please be sure to to follow the
    %a{:href => '/participate/report-issue/' }
        advice on how to report great issues.

.app-info-cards
    %a.app-info-cards__item#link-rfe{:href => 'https://issues.jenkins.io/secure/CreateIssueDetails!init.jspa?pid=10172&issuetype=2&priority=4', :style => "--card-background: var(--green); --card-color: var(--green)"}
        %h3
            Improvement
        %p
            Request a new feature or improvement
    %a.app-info-cards__item#link-bug{:href => 'https://issues.jenkins.io/secure/CreateIssueDetails!init.jspa?pid=10172&issuetype=1&priority=4', :style => "--card-background: var(--red); --card-color: var(--red)"}
        %h3
            Bug
        %p
            Report that something is broken
    %a.app-info-cards__item{:href => 'https://issues.jenkins.io/secure/CreateIssueDetails!init.jspa?pid=10180&issuetype=10103&components=17329&summary=[INSERT_PLUGIN_ID_HERE]%20Insert%20Summary%20Here', :style => "--card-background: var(--orange); --card-color: var(--orange)"}
        %h3
            Security Issue
        %p
            Report a security issue privately

:javascript
    // TODO Also pass the plugin name and show it on the UI, but for now this is simpler and probably safer.
    var hash = window.location.hash.substring(1);
    if (hash && /^\d+$/.test(hash)) {
        document.getElementById('link-bug').href = document.getElementById('link-bug').href + "&components=" + hash;
        document.getElementById('link-rfe').href = document.getElementById('link-rfe').href + "&components=" + hash;
    }
