.artwork-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;

  .artwork-thing {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.25rem;

    h3 {
      font-size: 1.3rem;
      font-weight: 550;
      margin-right: -40px;
      margin-bottom: 0.25rem;
    }

    img {
      height: 230px;
    }

    * {
      margin: 0;
    }

    .svg-link {
      font-size: 0.85rem;
    }
  }
}
