.iconlegend {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;

  ul {
    display: inline-flex;
    gap: 1rem;
    padding: 0;
    margin: 0;

    li {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      list-style: none !important;

      svg {
        width: 1.25rem;
        height: 1.25rem;
      }
    }
  }
}

.image {
  li {
    &::before {
      content: "•";
      position: relative;
      font-size: 18px;
      line-height: 0;
    }
  }
}

.ratings {
  .image {
    list-style-type: none;

    li {
      &::before {
        margin-left: -20px;
        margin-right: 0.5rem;
      }
    }
  }
}

.app-changelog__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.rate-outer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.25rem;
}

.rate-offset {
  display: flex;
  align-items: center;
  font-weight: 500;

  .rate {
    margin-left: 0.5rem;
    margin-right: 2rem;
    width: 2rem;
    height: 2rem;

    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }
}

.release-note {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &-inner {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    ul {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      font-size: 1.05rem;
      font-weight: 400;
    }
  }
}

.image li.major:before, .image li.security:before {
  font-size: 28px;
}

.image li.rfe:before {
  color: var(--indigo);
}
.image li.rfe.major:before {
  color: var(--indigo);
}
.image li.bug:before {
  color: var(--red);
}
.image li.bug.major:before {
  color: var(--red);
}
.image li.security:before {
  color: var(--orange);
}
.image li.security {
  font-weight: bold;
}

/* For community ratings */
span.related-issues { display: block; }

.todoasd {
  color: var(--color--secondary);
  margin-left: 0.25rem;
}

.app-changelog-page {
  display: flex;
  flex-direction: column;
  gap: 2rem;


  .app-lts-upgrade-notice {
    position: relative;
    z-index: 0;
    padding: 1rem 1.25rem;
    font-weight: 500;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: var(--link-color);
      opacity: 0.1;
      z-index: -1;
      border-radius: 1rem;
    }
  }
}
