.app-container {
  position: relative;
  max-width: Max(Min(85vw, 1600px), $app-tablet-breakpoint);
  margin: auto;
  padding: 5rem 1rem;

  @media screen and (max-width: $app-tablet-breakpoint) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
