- # This partial exists to provide a consistent re-usable block for creating a
- # consistent list of blog post-cards on a page. It should be relatively portable
- # to drop into any page with the jenkins.css

%ul{:class => page.frontpage == true ? "app-cards app-cards--front-page" : "app-cards"}
  - page.posts.each do |post|
    - next if post.layout != 'post'
    %li.app-card
      %a{:href => expand_link(post.url)}
        %div.app-card__preview
          - if post.opengraph&.image
            %img{:src => post.opengraph&.image, :loading => "lazy", :alt => post.title, :onload => "this.style.opacity = 1"}
        %h5.app-card__title
          = post.title
        %p.app-card__teaser
          = post.summary || summarize(html_to_text(post.content).strip, 64)
          %span.more

      .attrs
        %div
          = display_author_for(post)
          - if post.date
            = post.date.strftime('%B %d, %Y')
