---
layout: changelog
title: LTS Changelog Archive
show_ratings: false
---

.app-banner{:style => 'margin: 0 0 2rem 0'}
  This is the changelog archive.
  Recent changelogs can be found
  %a{:href => '/changelog-stable/'}
    here.

= partial('changelog-stable.html')
